nav.navbar.navbar-expand.navbar-light {
  width: 100% !important;
  height: 50px !important;
  background-color: white !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}

a.navbar-brand {
  margin: 0px !important;
  padding: 0;
}

.hola {
  margin: 0;
  padding: 0 !important;
}

b {
  color:cornflowerblue
}
